## 과제 2
### 점프 투 파이썬 1,2장 공부 후 연습문제 풀이

In [2]:
'''기초 문법'''

1+2

3

In [3]:
3/2.4

1.25

In [4]:
3*9

27

In [5]:
a=1
b=2
a+b

3

In [6]:
a="Python"
print(a)

Python

### 2장. 자료형
#### 2-1. 숫자형

In [7]:
#정수형
a = 123
b = -17
print(a+b)

106

In [8]:
#실수형 : 소숫점 포함 숫자
a = 4.24E10  #자연로그의 밑 e의 10승 곱함
b = 47.23

In [9]:
#8진수: 0o+숫자 / 0O+숫자
a = 0o177
b = 0o26
a+b

149

In [10]:
#16진수 : 0x+숫자
a = 0x8ff
b = 0xABC
a+b

5051

In [14]:
#연산자
#제곱 : **
a = 7
b = 3
a ** b

343

In [15]:
#나눗셈 나머지 : %
a % b

1

In [16]:
#나눗셈 몫 반환 : //
a // b

2

나혼자 코딩. 14를 3으로 나누었을 때 몫과 나머지는?

In [21]:
a = 14
b = 3
ans1 = a//b 
ans2 = a%b
print("몫은 {}, 나머지는 {}".format(ans1,ans2))

몫은 4, 나머지는 2

#### 2-2. 문자열 자료형

In [22]:
#문자열 만들기
st1 = "life is too short"
st2 = 'Python is fun'
st3 = """Hey, my name is Kyung."""
st4 = '''I want my boy'''

In [23]:
#문자열 표현 방법이 많은 이유
st1 = "Python's favorite food is perl"  # ' 표현을 위해 문자열 표시를 큰따옴표로 함
st2 = '" Python  is very easy." he says.'   # 큰따옴표 포함된 문장은 작은따옴표로 문자열 나타냄
st3 = 'python\'s favorite food is perl'   # 표현할 문장부호 앞에 백슬래쉬 (\)써서 무시

In [24]:
# 여러 줄 표현하기 (1)이스케이프 코드
multiline = "Life is too short\nYou need python"

In [27]:
# 여러 줄 표현하기 (2)따옴표 3개 쓰기
multiline1 = '''
Life is too short
You need python
'''
multiline2 = """
Life is too short
You need python"""

print(multiline1)
print(multiline2)

Life is too short
You need python


Life is too short
You need python

In [29]:
#문자열 더하기는 뻔하고 문자열 곱하기
a = "="
print(a*50)
print("My Program")
print(a*50)

==================================================
My Program
==================================================

In [30]:
# 문자열 길이 구하기  : len
print(len(multiline1))

35

나혼자 코딩 : 'You need python' 문장을 문자열로 만들고 길이를 구해보자.

In [32]:
a = 'You need python'
print('문장 길이는 ', len(a))

문장 길이는  15

In [34]:
# 문자열 인덱싱 = 가리키다 (indexing)
# 문자열 슬라이싱 = 자르다 (slicing)
a = "Life is too short, You need Python"
print(a[0:4])

Life

In [35]:
print(a[19:])   #끝번호 생략하면

You need Python

In [36]:
print(a[:17])   # 시작번호 생략하면

Life is too short

In [37]:
print(a[19:-8])

You nee

점프 투 파이썬.
문자열 (String) 은 immutable 자료형이라 내부 요소를 마음대로 바꿀 수 없다.

In [38]:
a = 'Pithon'
a[1] = y

NameError: name 'y' is not defined

In [39]:
b = a[:1]+'y'+a[2:]
print(b)

Python

In [40]:
# 문자열 포매팅 : 문자열 안의 특정한 값을 바꿔야 할 때 사용
print('I eat %d apples.' % 3)     # 포맷 코드 사용

I eat 3 apples.

In [41]:
print('I eat %s apples.' % 'three')

I eat three apples.

In [42]:
number = 10
day = 'three'

print("I ate %d apples. so I was sick for %s days." % (number, day))

I ate 10 apples. so I was sick for three days.

In [43]:
#  포맷코드, 숫자 이용해서 활용
print("%10s" % 'hi')

        hi

In [44]:
print("%10sjane" % 'hi')

        hijane

In [45]:
print("%-10sjane" % 'hi')

hi        jane

In [46]:
print("%f" % 3.9124568)

3.912457

In [47]:
print("%0.4f" % 3.9124568)  # 소숫점 아래 4자리만 나타내라.

3.9125

In [48]:
print("%8.4f" % 3.9124568) # 8개 공간에 소숫점 4자리까지 표기하여 오른쪽 정렬

  3.9125

In [1]:
# Format 함수 이용하기 
print('I eat {0} apples'.format(3))
print("I eat {0} apples.".format("five"))
number = 3
print("I eat {0} apples.".format(number))

I eat 3 apples
I eat five apples.
I eat 3 apples.

In [2]:
# Format 함수로 2개 이상의 값 넣기
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))  #괄호 안 숫자가 입력값 위치

I ate 10 apples. so I was sick for three days.

In [3]:
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))   # 이거 유용하네

I ate 10 apples. so I was sick for 3 days.

In [1]:
# Format 함수로 정렬 하기
b = "{0:>10}".format("hi")    # 오른쪽 > , 왼쪽 < 정렬
print(b)

        hi

In [2]:
b = "{0:^10}".format("hi")     # 가운데 정렬 ^
print(b)

    hi

In [3]:
b = "{0:=^10}".format("hi")     # 공백 다른거로 채우기
print(b)

====hi====

In [4]:
y = 3.42134234
b = "{0:0.4f}".format(y)      # 소숫점 표현
print(b)

3.4213

In [5]:
# Format 사용하는 다른 방식 : f'문자열 쓰기'
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.

In [6]:
# f 문자열 포매팅은 표현식 지원해서 이것도 가능
age = 30
print(f'I\'m turning {age+1} next year.')

I'm turning 31 next year.

In [8]:
# f 문자열 포매팅에 딕셔너리 사용
d = {"name": "Seoweon", "age": 27}
print(f'My name is {d["name"]}. And I\'m {d["age"]} years old.')

My name is Seoweon. And I'm 27 years old.

In [9]:
# f 문자열 포매팅으로 정렬하기 
print(f'{"hi":>10}')

        hi

In [11]:
print(f'{"오늘의 점심":=^30}')

============오늘의 점심============

In [13]:
# f 문자열 포매팅으로 소숫점 표현
y = 3.12345678
print(f'{y:0.4f}')

3.1235

나혼자 코딩.  '!!!Python!!!' 출력해보기

In [15]:
print("{0:!^12}".format('Python'))
print(f'{"Python":!^12}')

!!!Python!!!
!!!Python!!!

In [16]:
print(",".join("abcd"))

a,b,c,d

In [17]:
print("HI".lower())

hi

In [24]:
a = [1, 2, ['a', 'b', 'c'], 3]
b = a[:3][2]
print(b)

['a', 'b', 'c']

#### 2-3 리스트형

In [18]:
# 리스트 연산 - 더하기, 빼기
list1 = [2, 4, 5]
list2 = [3, 7, 8]
print(list1 + list2)
print(list1*3)

[2, 4, 5, 3, 7, 8]
[2, 4, 5, 2, 4, 5, 2, 4, 5]

In [12]:
# 리스트 수정, 삭제
list1[2] = 9
print(list1)

[2, 4, 9]

In [13]:
del list1[1:]
print(list1)

[2]

In [14]:
# 리스트 count 함수 요소가 없을 경우
print(list1.count(3))

0

In [19]:
list1.extend(list2)
print(list1)

[2, 4, 5, 3, 7, 8]

#### 2-4 튜플 자료형

In [20]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [21]:
t1[3]

'b'

In [22]:
t1[1:]

(2, 'a', 'b')

In [23]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [26]:
t1 = (1, 2, 3)
t2 = (4,)
t1 + t2

(1, 2, 3, 4)

#### 2-5 딕셔너리 자료형

In [27]:
#  딕셔너리 쌍 추가
a = {1: 'a'}
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [28]:
a['name'] = 'Bob'
a

{1: 'a', 2: 'b', 'name': 'Bob'}

In [29]:
del a[1]
a

{2: 'b', 'name': 'Bob'}

In [1]:
a = {'name': 'hellen', 'phone': '01041726056', 'birth': '1995.03.18'}
list(a.keys())

['name', 'phone', 'birth']

In [2]:
list(a.values())

['hellen', '01041726056', '1995.03.18']

In [3]:
a.clear()
a

{}

In [4]:
a = {'name': 'hellen', 'phone': '01041726056', 'birth': '1995.03.18'}
a.get('name')

'hellen'

In [5]:
a['name']

'hellen'

In [6]:
a.get('adress', '입력 없음')

'입력 없음'

In [7]:
'adress' in a

False

In [8]:
prac = {'name': '홍길동', 'birth': 1128, 'age': 30}
print(prac)

{'name': '홍길동', 'birth': 1128, 'age': 30}

#### 2-6 집합 자료형

In [9]:
s1 = set([1, 2, 3])
s0 = set()
s2 = set("Hello")

#### 2-7 bool 자료형
#### 2-8 변수

In [10]:
# 리스트 복사
a = [1, 2, 3]
b = a[:]
b

[1, 2, 3]

In [12]:
id(b)

1967907487168

In [13]:
id(a)

1967907486848

In [14]:
#  copy 모듈 사용
from copy import copy
b = copy(a)
b

[1, 2, 3]

In [15]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

# 연습문제

In [17]:
# Q1
score = [80, 75, 55]
ave = sum(score)/len(score)
print(ave)

70.0

In [18]:
# Q2
a = 13
if a%2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [19]:
# Q3
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [20]:
# Q4
print(num[0])

1

In [21]:
# Q5
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [22]:
# Q6
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [25]:
# Q7
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [26]:
# Q8
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [27]:
# Q9
a = dict()
a['name'] = 'python'
a[('a',)] = 'python'
a[250] = 'python'
print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

In [30]:
# Q10
a = {'A': 90, 'B': 80, 'C': 70}
result = a['B']
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

In [31]:
# Q11
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [32]:
# Q12
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]